---
import UserAccountMenu from '../auth/UserAccountMenu.astro'
import SiteNavLinks from './SiteNavLinks.astro'
import {
	HEADER_MOBILE_LINK_BASE,
	HEADER_NAV_LINK_ACTIVE,
	HEADER_NAV_LINK_INACTIVE,
} from '@/lib/header-nav-styles'
---

<div
	id='mobile-menu-panel'
	class='hidden border-t border-border bg-background xl:hidden'
>
	<SiteNavLinks
		navLabel='Primary mobile'
		listClass='flex flex-col gap-1 px-2 py-2'
		linkBaseClass={HEADER_MOBILE_LINK_BASE}
		activeClass={HEADER_NAV_LINK_ACTIVE}
		inactiveClass={HEADER_NAV_LINK_INACTIVE}
		addMobileHook
	/>
	<div class="border-t border-border px-2 py-2">
		<UserAccountMenu variant="mobile" />
	</div>
</div>
