---
import Layout from "@/layouts/Layout.astro";
import { SignUpForm } from "@/components/signup-form.tsx";
---

<Layout>
  <div
    class="relative z-0 flex min-h-svh flex-col items-center justify-center p-6 md:p-10"
  >
    <div
      aria-hidden="true"
      class="pointer-events-none absolute inset-0 -z-10 bg-[url('/images/after-2.jpg')] bg-cover bg-center bg-no-repeat"
    >
    </div>
    <div class="relative z-10 w-full max-w-sm md:max-w-lg">
      <SignUpForm client:only="react" />
    </div>
  </div>
</Layout>
