---
import Layout from "./Layout.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title, description }: Props = Astro.props;
---

<Layout title={title} description={description}>
  <main class="min-h-screen bg-background pt-12 sm:pt-18">
    <slot />
  </main>
</Layout>
